/**
 * Wordpress Codeable Feedbacks plugin stylesheet
 * Developed by XueZhe Quan
 * codeable.io | @xuezhe
 */


/* general styles */

@-webkit-keyframes codeable-rotate {
  to {
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}

@keyframes codeable-rotate {
  to {
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}


/* ajax loader */

.codeable-loader {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
}

.codeable-loader .codeable-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid;
  border-right: .25em solid transparent;
  border-radius: 50%;
  -webkit-animation: codeable-rotate .75s linear infinite;
  animation: codeable-rotate .75s linear infinite;
}

.loading .codeable-loader {
  display: flex;
}


/* pagination */

.codeable-pagination {
    display: flex;
    justify-content: center;
}

.codeable-pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
.codeable-pagination ul li {
    margin: 0 1px;
}

.codeable-pagination a, .codeable-pagination span {
  display: block;
  padding: 3px 10px;
  border: 1px solid #999;
  border-radius: .2em;
  text-decoration: none !important;
}

.codeable-pagination .active span, .codeable-pagination a:hover {
    background-color: #333;
    color: #fff;
}


/* container styling  */

.codeable-block {
  position: relative;
}

.codeable-block .success-message,
.codeable-block .error-message {
  display: none
}

.codeable-block.codeable-success .success-message,
.codeable-block.codeable-error .error-message
{
  display: block;
}

.codeable-block .error-message {
  color: red;
  font-weight: bold;
}


/* feedbak form shortcode */

#feedback-form-wrapper {
  position: relative;  
  border: 1px solid #000;
  padding: 40px;
  background: #fff;
}

#feedback-form-wrapper h2 {
  margin: 0 auto 3rem;
}

#feedback-form-wrapper label {
  color: #333;
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
}
#feedback-form-wrapper .input-field {
  color: #666;
  background: #fff;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
}

.codeable-success .feedback-form-container {
  display: none;
}

.feedback-form-container .feedback-form-header {
  margin-bottom: 30px;
}

.feedback-form-body .input-block {
  margin-bottom: 20px;
}


/* feedback list shortcode */

#feedback-list-wrapper {
  position: relative;  
  border: 1px solid #000;
  padding: 40px;
  background: #fff;
}

.feedback-list-table tbody tr {
  cursor: pointer;
}

.feedback-list-table tbody tr:hover {
  background: #ccc;
}

.has-data .empty-row {
  display: none;
}

.feedback-detail-container {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #000;
  min-height: 40px;
}

.feedback-detail-row {
  display: flex;
}

.feedback-detail-row label {
  flex-basis: 120px;
  flex-grow: 0;
}

.feedback-detail-row div {
  flex-basis: 0;
  flex-grow: 1;
}